body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 ;
    padding: 0 ;
}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.child{
    width: 75%;
}
button{
    border-radius:100px;
}
.computer{
    display:flex; 
    transform:translateX(-10%);
    width: 95%; 
    gap: 20px;  
}
.computerText{
    margin:auto auto;
    width:40%;
    padding-right: 10px;
}
.tablet{
    display: flex;
    justify-content: center;
    gap:50px;
}
.header{
    background-image: url(/images/bg-header-desktop.png);
    width: 100%;
    background-size: cover;
    height: 300px;
    padding: 0;
}
.logo{
    transform:translateY(125px);
}
.topic{
    font-size: 2.4rem;
}
h1,h2,h3{
    color:  hsl(210, 10%, 33%);
}
button{
    border: 0px ; 
    width: 175px;
    height: 30px;
    color: white ;  
    transition: 0.6s; 
}
.green{
    background-color: hsl(171, 66%, 44%);

}
.purpul{
    background-color:hsl(233, 100%, 69%);
}
.type{
    color: hsl(201, 11%, 66%); 
    line-height: 1.5 ;
    transform: translateY(-15px);   
}
.text1{
    text-align: start;
}
.text2 , .text3{
    width: 50%;
}
.padding{
    padding:0 100px ;
}
.margin{
    margin-top:50px;
}
.companies{
    display:flex;
    justify-content:space-between;
}
footer{
    display: flex ;
    justify-content:space-around ;
    background-color: rgb(223, 223, 223);
    height: 100px;
    width: 100%;
}
.footerIcon{
    width:40px;
    height:40px;

    transition: 0.6s;
    margin:auto 0;
}
.footerIcon:hover{
    width: 50px;
    height: 50px;
}
.footerItems{
    width:60%;
    display: flex;
    justify-content:space-between;   
    margin: auto 0;
}
.attribution{
    transform: translateY(-30px);
}
.margin2 , button {
    cursor: pointer;
}
button:hover{
    width: 200px;
    height: 40px;
}
.hv{
    transition:0.6s;
}
.hv:hover{
    font-size: larger;
}
.socialIcon{
    display: flex;
    justify-content: space-between;
    width: 12%;
}
.size{
    width: 40px;
    height: 40px;
    margin: auto 0;
    
    transition: 0.6s;
}
.size:hover{
    width:50px;
    height: 50px;

}

@media (max-width:1146px){
    *{
        transition: all 1s ease;
    }
    .computer{
        flex-direction: column;
        flex-wrap: wrap;
        transform:translateX(0%);
        text-align: center;
        align-items: center;
    }
    .Mac{
        width:75%;
    }
    .text1{
        text-align: center;
    }
    .mobile{
        width: 75%;
    }
    .tablet{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        height:600px;
    }
    .footerIcon{
        margin:0;
    }
    .footerItems{
        flex-direction: column;
        margin:0 0;
    }
    .computerText{
        margin: 0;
    }
    .text3{
        width: 100%;
    }
    .margin2{
        margin-top:25px;
    }
    .tablet{
        width: 40%;
    }
    .companies{
        flex-direction: column;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .purpul{
        margin-top: 25px;

    }
    .socialIcon{
        width: 50%;
    }

}